<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="GitHub" value="https://nuget.pkg.github.com/ajupov/index.json" />
    </packageSources> 
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="ajupov" />
            <add key="ClearTextPassword" value="e84375db6686209f61070d4d0a43bac189a0bff1" />
        </GitHub>
    </packageSourceCredentials>
</configuration>