@model Ajupov.Identity.OAuth.ViewModels.ChangePasswordViewModel

@{
    Layout = "~/OAuth/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Изменение пароля";
}

<form method="post" action="/oauth/сhangepassword">
    <h2>Изменение пароля</h2>

    @if (Model.IsInvalidCredentials)
    {
        <p class="error">Неправильный логин или пароль</p>
    }

    @Html.AntiForgeryToken()

    <input type="text" name="Login"  value="@Model.Login"  required="required" placeholder="Логин" autofocus="autofocus"/>
    <input type="password" name="OldPassword" required="required" placeholder="Старый пароль" autocomplete="none"/>
    <input type="password" name="Password" required="required" placeholder="Новый пароль" autocomplete="none" minlength="6"/>
    <input type="password" name="PasswordConfirmation" required="required" placeholder="Повтор нового пароля" autocomplete="none" minlength="6"/>
    <input type="submit" value="Войти"/>
</form>