@model Ajupov.Identity.OAuth.ViewModels.ResetPasswordConfirmationViewModel

@{
    Layout = "~/OAuth/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Сброс пароля";
}

<form method="post" action="/oauth/resetpasswordconfirmation">
    <h2>Сброс пароля</h2>

    @Html.AntiForgeryToken()

    <input type="hidden" name="TokenId_id" value="@Model.TokenId"/>
    <input type="hidden" name="Code" value="@Model.Code"/>
    <input type="password" name="NewPassword" required="required" placeholder="Новый пароль" autocomplete="none" minlength="6"/>
    <input type="password" name="NewPasswordConfirmation" required="required" placeholder="Повтор нового пароля" autocomplete="none" minlength="6"/>
    <input type="submit" value="Войти"/>
</form>