@model Crm.Identity.OAuth.ViewModels.Register.ResetPasswordConfirmationViewModel

@{
    Layout = "~/src/OAuth/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Сброс пароля";
}

<form method="post" action="/oauth/resetpasswordconfirmation">
    <h2>Сброс пароля</h2>
    
    @if (Model.IsPasswordsNotEqual)
    {
        <p class="error">Пароли не совпадают</p>
    }

    @Html.AntiForgeryToken()

    <input type="hidden" name="TokenId" value="@Model.TokenId"/>
    <input type="hidden" name="Code" value="@Model.Code"/>
    <input type="password" name="NewPassword" required="required" placeholder="Новый пароль" autocomplete="none" minlength="6"/>
    <input type="password" name="NewPasswordConfirmation" required="required" placeholder="Повтор нового пароля" autocomplete="none" minlength="6"/>
    <input type="submit" value="Войти"/>
</form>