@model Crm.Identity.Areas.OAuth.ViewModels.ChangeEmail.ChangeEmailViewModel

@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = "Изменение Email";
}

<form method="post" action="/oauth/changeemail">
    <h2>Изменение Email</h2>

    @if (Model.IsEmailNotChanged)
    {
        <p class="error">Старый и новый Email совпадают</p>
    }

    @if (Model.IsEmailExists)
    {
        <p class="error">Email уже занят</p>
    }

    @if (Model.IsInvalidCredentials)
    {
        <p class="error">Неправильный старый Email или пароль</p>
    }


    @Html.AntiForgeryToken()

    <input type="email" name="OldEmail" value="@Model.OldEmail" required="required" placeholder="Старый Email" autofocus="autofocus"/>
    <input type="email" name="NewEmail" value="@Model.NewEmail" required="required" placeholder="Новый Email"/>
    <input type="password" name="Password" required="required" placeholder="Пароль" autocomplete="none"/>
    <input type="submit" value="Изменить"/>
</form>