@using Crm.Identity.Utils.Phone
@model Crm.Identity.Areas.OAuth.ViewModels.ResetPassword.ResetPasswordViewModel

@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = "Сброс пароля";
}

<form method="post" action="/oauth/resetpassword">
    <h2>Сброс пароля</h2>

    @if (Model.IsInvalidLogin)
    {
        <p class="error">Логин не найден</p>
    }

    @Html.AntiForgeryToken()

    <input type="hidden" name="Country" value="@Country.Russia"/>
    <input type="text" name="Login" value="@Model.Login" required="required" placeholder="Логин" autofocus="autofocus"/>
    <input type="submit" value="Сбросить"/>
</form>