@model Crm.Identity.OAuth.ViewModels.VerifyPhone.VerifyPhoneViewModel
@{
    Layout = "~/src/OAuth/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Подтверждение телефона";
}

<form method="post" action="/oauth/verifyphone">
    @if (Model.IsInvalidCode)
    {
        <p class="error">Неправильный код</p>
    }

    @Html.AntiForgeryToken()

    <input type="hidden" name="TokenId" value="@Model.TokenId"/>
    <input type="hidden" name="CallbackUri" value="@Model.CallbackUri"/>
    <input type="text" name="Code" required="required" placeholder="Код" autofocus="autofocus"/>
    <input type="submit" value="Подтвердить"/>
</form>