<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/OAuth/Styles/styles.min.css"/>
    <link rel="shortcut icon" href="~/OAuth/Images/favicon.ico">
</head>
<body>
@RenderBody()
</body>
</html>